<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          required
          [(ngModel)]="player.surname"
          name="surname"
        />
      </div>

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          class="form-control"
          id="firstname"
          required
          [(ngModel)]="player.firstname"
          name="firstname"
        />
      </div>

      <div class="form-group">
        <label for="patronymic">Patronymic</label>
        <input
          class="form-control"
          id="patronymic"
          [(ngModel)]="player.patronymic"
          name="patronymic"
        />
      </div>

      <div class="form-group">
        <label for="living">Where lives</label>
        <input
          class="form-control"
          id="living"
          [(ngModel)]="player.living"
          name="living"
        />
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        <input
          class="form-control"
          id="comment"
          [(ngModel)]="player.comment"
          name="comment"
        />
      </div>

      <button (click)="savePlayer()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Player was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPlayer()">Add</button>
    </div>
  </div>
</div>
